h6{
    font-family: Arial - Sans Serif;
    font-size: 20px;
    color: black;
}

p.speech{
    font-family: 'Times New Roman';
    font-size: 15px;
    color: black;
}

p.stage-direction{
    
    font-family: 'Times New Roman';
    font-size: 18px;
    color: black;
    background-color: rgb(122, 26, 160);
}

p.stage-direction:hover {
    background-color:skyblue;
    color:rgb(45, 78, 94);
}

h6.PRINCE-PAUL-MARALOFFSKI{
    font-family: sans-serif;
    color:rgb(85, 54, 13);
}

h6.PRINCE-PETROVITCH{
    font-family: Helvetica, sans-serif;
    color:rgb(94, 40, 91);
}

h6.COUNT-ROUVALOFF{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(18, 23, 94);
}

h6.BARON-RAFF{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(199, 211, 31);
}

h6.PRINCE-PAUL-MARALOFFSKI:hover{
    text-shadow: 2px 3px 4px rgb(157, 209, 15);
    border-style:solid;
    color:rgb(233, 1, 1);
    
}

h6.PRINCE-PETROVITCH:hover{
    text-shadow: 2px 3px 4px rgb(100, 237, 203);
    border-style:double;
    color:rgb(177, 177, 146);
}

h6.COUNT-ROUVALOFF:hover{
    text-shadow: 2px 3px 4px cadetblue;
    border-style:ridge;
    color: rgba(247, 15, 15, 0.295);
}

h6.BARON-RAFF:hover{
    text-shadow: 2px 3px 4px cornflowerblue;
    border-style:double;
    color:rgb(99, 32, 185);
}

.table_heading{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    color:black;
}

table.table_actors{
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    padding: 20px;
    margin: 40px;
}

table.table_actors tr:nth-child(odd){
    background-color:rgb(1, 10, 20);
}

table.table_actors td, table.table_actors th {
    border: 1px solid rgb(41, 112, 52);
    padding: 10px;
    text-align: left;
    color: rgb(29, 41, 155)
}

table.table_actors th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:rgb(102, 25, 133);
    color: white;
}


ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar-horizontal li {
    float:left;
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}
ul.navbar-horizontal a {
    display:block;
    padding:20px;
    color: rgb(19, 18, 17);
}
ul.navbar-horizontal a:hover {
    background-color: rgb(214, 115, 21);
    color:yellowgreen;
}