.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:rgb(20,40,30);
    
    font-weight: normal;
}
.stage-direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    background-color: lightgreen;
    display: inline;
}
.stage-direction:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(218, 63, 153);
}
.name:hover{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(113, 28, 192);
    font-size: 20px;
    text-shadow: 2px 2px 5px rgb(47, 166, 221);
}
  .VERA{
    color: rgb(60, 26, 155);
    font-size: 20px;
  }
  .PRINCEPAUL{
    color: rgb(197, 141, 20);
    font-size: 20px;
  }
  .CZAR{
    color: rgb(196, 31, 141);
    font-size: 20px;
  }
  .MICH{
    color: rgb(31, 196, 72);
    font-size: 20px1;
  }
  table{
    width: fit-content;
    border: 4px double black;
    text-align: left;
    padding: 15px;
}
tr:nth-child(even){
    background-color: #8b7272;}
td{
    border: 1px solid black;
}
th{
    border: 1px solid black;
    color:red;
}
th,td {
    border: 1px solid black;
}
tr:hover {
    background-color: rgb(75, 72, 72);}